@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  transition: all 0.1s;
}

.form-label{
  @apply block text-sm font-bold mb-2 text-gray-700 dark:text-gray-200;
}

input{
  @apply shadow appearance-none border rounded w-full py-2 px-3 leading-tight;
}

#alert, #email-alert, #password-alert{
  @apply text-red-500 dark:text-red-400 text-sm italic mt-1;
}

button{
  @apply text-white font-bold py-2 px-4 rounded;
}

.category a {
  @apply relative lg:p-0 px-10 py-4 text-gray-700 hover:text-blue-700 dark:text-gray-200 dark:hover:text-blue-400 bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-800 hover:bg-gray-200 text-base flex-1 flex justify-center items-center;
}

#right-panel div {
  @apply pl-3 py-2 text-gray-700 dark:text-gray-200 italic lg:text-xl text-base font-bold h-full w-full flex items-center
}

.gradient-animation {
  background: linear-gradient(to right, #ff9900, #ff00ff, #00ffff, #00ff00, #ffff00);
  background-size: 400% 400%;
  animation: gradient 3s linear infinite;
}

.btn-gradient-animation {
    background: linear-gradient(to right, #7b00ff, #b700ff, rgb(255, 0, 212));
    background-size: 500% 500%;
    animation: gradient2 7s linear infinite;
  }
  
  @keyframes gradient2 {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}